<tr>
  <td>
    <% if place.url.nil? || place.url.strip.empty? %>
      <%= place.name %>
    <% else %>
      <%= link_to place.name, place.url, target: "_blank" %>
    <% end %>
  </td>
  <td>[Coming Soon]</td>
  <td>
    <%= link_to "Edit", edit_place_path(place) %>
    <%= link_to "Delete", place_path(place), confirm: "Are you sure you want to delete this place?", method: :delete %>
  </td>
</tr>
