<h2><%= @place.name %></h2>

<div>
  <label>Name</label>
    <% if @place.url.nil? || @place.url.strip.empty? %>
      <%= @place.name %>
    <% else %>
      <%= link_to @place.name, @place.url, target: "_blank" %>
    <% end %>
</div>

<p>More info coming soon</p>
